{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col s6">
		<div class="card hoverable cyan darken-3">
			<div class="card-content">
				<span class="card-title">{{ f.name }}</span>
				<p>Species: {{ f.species }}</p>
				<p>Description: {{ f.description }}</p>
				{% if f.age > 0 %}
				<p>Age: {{ f.age }}</p>
				{% else %}
				<p>Age: Guppy</p>
				{% endif %}
			</div>
			<div class="card-action">
				<a href="{% url 'fish_update' f.id %}">Edit</a>
				<a href="{% url 'fish_delete' f.id %}">Delete</a>
			</div>
		</div>
	</div>
	<div class="col s6">
		<form action="{% url 'add_feeding' f.id %}"  method="post">
			{% csrf_token %}
			{{ feeding_form.as_p }}
			<input type="submit" class="btn" value="Add Feeding">
		</form>
		<br>
		{% if f.fed_for_today %}
		  <div class="card-panel teal-text center-align">{{f.name}} has been fed all meals for today</div>
		{% else %}
		  <div class="card-panel red-text center-align">{{f.name}} might be hungry</div>
		{% endif %}
		<table class="striped">
		<thead>
			<tr><th>Date</th><th>Meal</th></tr>
		</thead>
		<tbody>
			{% for feeding in f.feeding_set.all %}
			<tr>
				<td>{{feeding.date}}</td>
				<td>{{feeding.get_meal_display}}</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>

	<hr>
	<div class="row">
	  <div class="col s6">
		<h3>{{ f.name }}'s Toys</h3>
		{% if f.toys.count %}
		  {% for toy in f.toys.all %}
			<div class="card">
			  <div class="card-content">
				<span class="card-title">
				<span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
				</span>
				<form action="{% url 'remove_toy' f.id toy.id %}" method="post">
					{% csrf_token %}
					<button type="submit" class="btn">X</button>
				</form>
			  </div>
			</div>
		  {% endfor %}
		{% else %}
		  <h5>No Toys :(</h5>
		{% endif %}
	  </div>
	  <!-- Available toys will come after this line -->
	  <div class="col s6">
		<h3>Available Toys</h3>
		{% if toys.count %}
		  {% for toy in toys.all %}
			<div class="card">
			  <div class="card-content">
				<span class="card-title">
				  A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
				</span>
			  </div>
			  <div class="card-action">
				<form action="{% url 'assoc_toy' f.id toy.id %}" method="post">
				  {% csrf_token %}
				  <button type="submit" class="btn">Add</button>
				</form>
			  </div>
			</div>
		  {% endfor %}
		{% else %}
		  <h5>{{f.name}} Already Has All Toys Available</h5>
		{% endif %}
	  </div>
	</div>
	<script>
		const dateEl = document.getElementById('id_date');
		M.Datepicker.init(dateEl, {
		  format: 'yyyy-mm-dd',
		  defaultDate: new Date(),
		  setDefaultDate: true,
		  autoClose: true
		});
	  
		const selectEl = document.getElementById('id_meal');
		M.FormSelect.init(selectEl);
	  </script>
</div>
{% endblock content %}
	